@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  height: 100%;
}
